<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/jbox/image/upload/v1632591341/image_a16zyr.png);">
  <div class="banner-text">
    <h1>RentAMon</h1>
    <p>Your <strong>monument</strong> shipped <strong>anywhere</strong> in the world!</p>
    <a class="btn btn-primary" href="#">Book today!</a>
  </div>
</div>

<div class="container">
  <h1>Monuments for Rent</h1>

  <% @monuments.each do |monument|%>
    <div class="monument-card">
      <h2><%= monument.name %></h2>
      <!-- no description no coordinate in the index user goes to the show page
        to get these infos-->
      <p>Price $<%= monument.price%>/Day</p>

      <% if monument.user != current_user %>
      <p>Status: <%= "Available" if monument.availability == true %></p>
      <% end %>
      <p><%= link_to "See more details", monument_path(monument)%></p>
    </div>
  <% end %>

  <p><%= link_to "Add your Monument", new_monument_path(@monument)%></p>
</div>
