<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/jbox/image/upload/v1632591341/image_a16zyr.png);">
  <div class="banner-text">
    <h1>RentAMon</h1>
    <p>Your <strong>monument</strong> shipped <strong>anywhere</strong> in the <strong>world</strong>!</p>
    <a class="btn btn-primary" href="#">Book today! (Or search bar here?)</a>
  </div>
</div>

<div class="container">
  <h1>Monuments for Rent</h1>
  <% @monuments.each do |monument|%>
    <div class="monument-card">

      <% monument.photos.first do |photo| %>
        <%= cl_image_tag photo.key %>
      <% end %>
      # <%# <%= cl_image_tag monument.photos[0] %> %>

      <div class="monument-infos">
        <h2><%= monument.name %></h2>
        <p>Price $<%= monument.price%>/Day</p>
        <% if monument.user != current_user %>
          <p>Status: <%= "Available" if monument.availability == true %></p>
        <% end %>
        <p><%= link_to "See more details", monument_path(monument)%></p>
      </div>
    </div>
  <% end %>

  <p><%= link_to "Add your Monument", new_monument_path(@monument)%></p>
</div>
