<div class="container">
  <h1>Monuments for Rent</h1>

  <% @monuments.each do |monument|%>
    <div class="monument-card">
      <h2><%= monument.name %></h2>
      <!-- no description no coordinate in the index user goes to the show page
        to get these infos-->
      <p>Price $<%= monument.price%>/Day</p>
      <p>Status: <%= "Available" if monument.availability == true %></p>
      <p><%= link_to "See more details", monument_path(monument)%></p>
    </div>
  <% end %>

  <p><%= link_to "Add your Monument", new_monument_path(@monument)%></p>
</div>
