<h1>This is my monument index page</h1>
<h2>Plennnnnty of monuments will show up right below</h2>

  <% @monuments.each do |monument|%>
    <div class="monument-card">
      <p><%= monument.name %></p>
      <!-- no description no coordinate in the index user goes to the show page
        to get these infos-->
      <p><%= monument.price%>k$</p>
      <p><%= "available" if monument.availability == true %></p>
      <p><%= link_to "see more details", monument_path(monument)%></p>
      <p><%= link_to "add a new place to rent", new_monument_path(monument)%></p>
    </div>
  <% end %>
