<div class="container">
  <h1>Monument index page</h1>

  <% @monuments.each do |monument|%>
    <div class="monument-card">
      <h2><%= monument.name %></h2>
      <!-- no description no coordinate in the index user goes to the show page
        to get these infos-->
      <p>Price per day: <%= monument.price%>k$</p>
      <p>status: <%= "available" if monument.availability == true %></p>
      <p><%= link_to "see more details", monument_path(monument)%></p>
    </div>
  <% end %>

  <p><%= link_to "add a new place to rent", new_monument_path(@monument)%></p>
  <%= link_to 'Home', root_path %>
</div>
