<div class="container">
  <h1>Add A Monument</h1>

  <%= simple_form_for @monument do |f| %>
    <%= f.input :name, label: 'Name of monument', error: 'Name is mandatory, please specify' %>
    <%= f.input :description %>
    <%= f.input :price , label: 'Price (in K$)'%>
    <%= f.input :latitude , label: 'Latitude' %>
    <%= f.input :longitude , label: 'Longitude' %>
    <%= f.input :availability , as: :radio_buttons %>
    <%= f.input :photos, label: "upload pictures 3 minimum", as: :file, input_html: { multiple: true } %>

    <%= f.button :submit, class:"btn btn-primary" %>
    <br>
    <%= link_to 'Home', root_path %>
  <% end %>
</div>
