<div class="container">
  <h1>Add A Monument</h1>

  <%= simple_form_for @monument do |f| %>
    <%= f.input :name, label: 'Name of monument', error: 'Name is mandatory, please specify' %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :coordinates, label: 'Address' %>
    <%= f.input :availability, as: :radio_buttons %>
    <%= f.button :submit %>
  <% end %>
</div>
