<div class="container">
  <h1><%= @monument.name %></h1>
  <h2><%= "available" if @monument.availability == true %></h2>
  <p><%= @monument.description %></p>

  <!-- need to add pictures -->
  <%# <% @monument.photos.each do |photo| %> %>
    <%# <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %> %>
  <%# <% end %> %>

  <p>This monument for $<%= @monument.price %>/day</p>
  <p>Coordinates: lat.<%= @monument.latitude %>, long.<%= @monument.longitude %></p>

  <%= link_to "back to the list", monuments_path %>
  <br>
  <p><%= link_to 'Home', root_path %></p>

  <p><%= link_to 'Book now', new_monument_rental_path(@monument) %></p>
</div>
