<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="/about">
    <img src="https://res.cloudinary.com/jbox/image/upload/v1632582060/production/rentamon_logo_red_no_bckground_sxn2lc.png" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><%= link_to "Home", root_path %></li>
      <li class="nav-item"><%= link_to "Dashboard", dashboard_path %></li>
    <!-- identify the current user -->
      <% if user_signed_in? %>
      <li class="nav-item active">
        <span class="nav-link"><%= current_user.email%></span>
      </li>
      <% end %>
    <!-- identify the current user -->
      <!-- <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>
    </ul> -->
  </div>

 <!-- start for hamburger -->
  <div id="menu-bar">
 <!--  -->
    <div id="menu" onclick="onClickMenu()">
      <div id="bar1" class="bar"></div>
      <div id="bar2" class="bar"></div>
      <div id="bar3" class="bar"></div>
    </div>
  <!--  -->
  </div>
  </div>

  <div class="nav hamburger-container" id="nav">
    <ul>
      <div><li><%= link_to "My Bookings", dashboard_path %></li></div>
      <div><li><%= link_to "My Monuments", monuments_path %></li></div>
      <div><li><%= link_to "RentAMon Catalogue ", monuments_path %></li></div>
    </ul>
  </div>
  <!--  -->
  <!-- end for hamburger -->


<script>






</script>
