<h1>Please confirm the monument and pick your dates</h1>
<%= simple_form_for ([@monument, @rental]) do |f| %>

  <%= f.association :monument, as: :select %>
  <%= f.input :date_of_delivery %>
  <%= f.input :date_of_return %>
  <%= f.submit "Confirm" %>
<% end %>
<%= link_to "Cancel", monuments_path %>
