<div class="container">

  <h1>Booking the monument</h1>


<%= simple_form_for ([@monument, @rental]) do |f| %>
  <%= f.input :date_of_delivery, html5: true %>
  <%= f.input :date_of_return, html5: true  %>
  <%= f.submit "Confirm" %>
<% end %>
<%= link_to "Cancel", monuments_path %>
</div>
