<!-- http://localhost:3000/dashboard -->
<!-- define username -->
<div class="container">
  <div class="header">
    <h1>Hello <%= current_user.email %> </h1>
      <p>Welcome to your dashboard</p>
  </div>

  <div class="info">
    <div class="message">
      <h2><MESSAGES></MESSAGES></h2>
    </div>

    <div class="d-flex flexor">
      <div class="owner-section">
        <!-- OWNER -->
        <h2>Your monuments:</h2>
        <p>You are currently trusting us with</p>
        <p> <span><%= @my_monuments.count %></span> of your monuments in our catalogue.</p>
        <!-- if user is a owner and a user booked his monument -->
        <!-- if Booking_request.count > 1 requests
          else request-->
          
        <p> You have have <span><%=pluralize @pending_rental_requests_received.count, "request" %> pending:</span><p>

        <% @pending_rental_requests_received.each do |rental| %>
        <%= rental.monument.name %> for <%= rental.date_of_delivery %> to <%= rental.date_of_return %>
        
          <!-- button -->

          <div class="d-flex justify-content-center buttons">
          <!-- got to call the right .status? with those buttons -> should send the appropriate message to the user-->
          <%= link_to 'Approve', accept_path(rental), method: :patch, class: 'btn blue blue-btn', data: { confirm: "Confirm this request?" } %>
          <%= link_to 'Decline', decline_path(rental), method: :patch, method: :patch, class: 'btn red red-btn', data: { confirm: "Confirm this request?" }%>
          </div>
        <% end %>
      </div>

      <!-- If TRUE send confirmation to the USER that made the RENTAL from the SHOW or is it the User that made the form on CREATE from MONUMENT -->
      <!-- If FALSE send refusal -->


      <!-- RENTER -->
      <div class="renter-section">
        <h2>Your bookings:</h2>
        <!-- CONFIRMATION be like-->
        Those are the rentals you made a request for:
        <br>
        <br>
          <% @my_rentals[0..3].select do |f| %>
          <%= f.monument.name %> for <%=f.date_of_delivery %> to <%= f.date_of_return %>
            <% if f.status == nil  %>
              <p> Rental is pending </p>
              <% elsif f.status == true  %>
              <p> Rental is approved </p>
              <% else %>
              <p> Rental is declined </p>
              <% end %>
          <% end %>
      </div>

    </div>
  </div>
</div>








